@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  display: inline-flex;
  align-items: center;
}

.loading .spacer {
  margin-right: 2px;
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1px;
}

.loading span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.bodyfr {
  background-color: #fff;
  background-size: 45px 45px;
  background-image: linear-gradient(rgb(241, 246, 255) .1em, transparent .1em), linear-gradient(90deg, rgba(241, 246, 255) .1em, transparent .1em);
}

.openai {
  color: #424242;
}

/* F9FAFB */

.footerblur {
  background-image: url(/blueblur.svg);
}